{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>404 - Not found</h1>
  If you arrived here by following a link to the old wiki.asterisk.org website,
  there's a good chance that what you're looking for is here on
  the new documentation site somewhere.  Use the search bar at the
  top of the page to try and find it.  If you find it and want to help
  others find it in the future, head over to the
  <a href="https://github.com/asterisk/documentation/issues/59">Perpetual issue for old/dead links </a>
  issue on GitHub and add it to the list.  If you can't find the relevant content,
  create a <a href="https://github.com/asterisk/documentation/issues">new documentation issue</a>.

{% endblock %}
