docs_dir: docs
site_name: Asterisk Documentation
site_url: !ENV [SITE_NAME, 'https://docs.asterisk.org']
repo_url: https://github.com/asterisk/asterisk
repo_name: Asterisk
copyright: >
  Content is licensed under a Creative Commons Attribution-ShareAlike 3.0 United States License.

validation:
  nav:
    omitted_files: info
    not_found: ignore
  links:
    not_found: ignore
    absolute_links: relative_to_docs
    anchors: ignore
    unrecognized_links: ignore

theme:
  name: material
  favicon: favicon.ico
  logo: favicon.ico
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github

  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - toc.follow

extra_css:
  - material-override.css

plugins:
  - redirects:
      redirect_maps:
        Asterisk+Community+Code+of+Conduct.md: Asterisk-Community/Asterisk-Community-Code-of-Conduct.md
        Building+and+Installing+Asterisk.md: Getting-Started/Installing-Asterisk/Installing-Asterisk-From-Source/Building-and-Installing-Asterisk.md
        Secure+Calling+Tutorial.md: Deployment/Secure-Calling/Secure-Calling-Tutorial/index.md
        PJSIP+Configuration+Wizard.md: Configuration/Channel-Drivers/SIP/Configuring-res_pjsip/PJSIP-Configuration-Wizard.md
        Realtime+Database+Configuration.md: Fundamentals/Asterisk-Configuration/Database-Support-Configuration/Realtime-Database-Configuration.md
        ConfBridge.md: Configuration/Applications/Conferencing-Applications/ConfBridge/index.md
        SIP+Retransmissions.md: Deployment/Troubleshooting/SIP-Retransmissions.md
        Voice+Prompts+and+Music+on+Hold+License.md: About-the-Project/License-Information/Voice-Prompts-and-Music-on-Hold-License.md
        Querying+and+Manipulating+State.md: Fundamentals/Key-Concepts/States-and-Presence/Querying-and-Manipulating-State.md
        Build+System+Architecture.md: Development/Reference-Information/Other-Reference-Information/Build-System-Architecture.md
        Important+Security+Considerations.md: Deployment/Important-Security-Considerations/index.md
  - search
  - awesome-pages:
      filename: .pages
#      collapse_single_pages: true
#      strict: false
#      order: asc
#      sort_type: natural
#      order_by: title
  - minify:
      minify_html: true
      minify_js: false
      minify_css: false
      htmlmin_opts:
          remove_comments: true
          pre_tags:
            - pre
            - code
      cache_safe: false
  - mermaid2

extra:
  analytics:
    provider: google
    property: G-2ZKMCW9DZ9
  social:
    - icon: asterisk/favicon
      link: https://www.asterisk.org/
    - icon: fontawesome/brands/wordpress
      link: https://www.asterisk.org/blog/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/asteriskdev
    - icon: fontawesome/brands/github
      link: https://github.com/asterisk
    - icon: fontawesome/brands/discourse
      link: https://community.asterisk.org

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.betterem
  - pymdownx.blocks.admonition
  - pymdownx.blocks.caption
  - pymdownx.blocks.definition
  - pymdownx.blocks.details
  - pymdownx.blocks.html
  - pymdownx.blocks.tab:
      alternate_style: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.fancylists
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      base_path: './docs'
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tilde


